<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
  <title>
    .
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->

    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-shape-star text-primary"></i> STAR IDENTIFICATION</h3>
                <h5 class="card-category">Upload an image of player and let's tell you about them</h5>

                <!--upload the picture-->
                <body>
                  <div class="yanzRight">
                    <input name="evidence" onchange="uploadImg(this,'preview')" type="file"/>
                    <span class="dui" id="imgOrder_dui" style="display: none;"></span>
                  </div>
                  <div id="preview">
                    <img src="" alt="" id="imghead5" height="200" width="200" />
                  </div>

                </body>

                <script>
                var img;
                function uploadImg(file,imgNum){
                  var widthImg = 200; //width of the picture
                  var heightImg = 200; //height
                  var div = document.getElementById(imgNum);
                  if (file.files && file.files[0]){
                    div.innerHTML ='<img id="upImg">'; //
                    var img = document.getElementById('upImg'); //获得用户上传的图片节点
                    console.log(img);
                    img.onload = function(){
                      img.width = widthImg;
                      img.height = heightImg;
                    }
                    var reader = new FileReader(); //判断图片是否加载完毕
                    reader.onload = function(evt){
                      if(reader.readyState === 2){ //加载完毕后赋值
                        img.src = evt.target.result;
                      }
                    }
                    reader.readAsDataURL(file.files[0]);
                  }
                }
                $(document).ready(function (e) {
                    $('#imageUploadForm').on('submit',(function(e) {
                        e.preventDefault();

                        $.ajax({
                            type:'POST',
                            url: '/img_result',
                            data:image,
                            cache:false,
                            contentType: false,
                            processData: false,
                            success:function(data){
                                console.log("success");
                                console.log(data);
                            },
                            error: function(data){
                                console.log("error");
                                console.log(data);
                            }
                        });
                    }));

                    $("#ImageBrowse").on("change", function() {
                        $("#imageUploadForm").submit();
                    });
                });

              </script>

              </div>
              <div class="card-body">
                  <div class="chart-area">

                    <button id= 'player-image' type="submit" class="btn btn-fill btn-primary">Start!</button>



                  </div>

              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">

                <h3 class="card-title"><i class="tim-icons icon-money-coins text-info"></i> SALARY PREDICTION </h3>
                <h6 class="card-category">Predict the salaries of up and coming players</h6>
              </div>
              <div id="output"class="card-body">
                <div class="chart-area">
                  <input type="file" id="myFile" class="btn btn-fill btn-primary"></input>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Data Hackers
              </a>
            </li>

          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin" >
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu" style="width: 800px; height: 400px">
        <li class="header-title"> </li>
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Players Details</h4>
          </div>

            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th class="text-center">
                      Salary
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-center">
                      $36,738
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="../static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/black-dashboard.min.js?v=1.0.0"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/assets/demo/demo.js"></script>
  <script>


  var input = document.getElementById("myFile");
  var output = document.getElementById("output");

  document.getElementById('myFile').onchange = function(){
  var file = this.files[0];

  var reader = new FileReader();
  reader.onload = function(progressEvent){
    var lines = this.result.split('\n');
    var array={};
      var players = new Array();

      for (var i = 1; i < lines.length; i++) {
      var cells = lines[i].split(",");

              var player = {};
              player.name = cells[0];
              player.gs = cells[1];
              player.mp = cells[2];
              player.per = cells[3];
              player.ows = cells[4];
              player.dws = cells[5];
              player.obpm = cells[6];
              player.vorp = cells[7];
              player.fg = cells[8];
              player.p3 = cells[9];
              player.p3a = cells[10];
              player.p2 = cells[11];
              player.p2a = cells[12];
              player.ft = cells[13];
              player.fta = cells[14];
              player.drb = cells[15];
              player.ast = cells[16];
              player.stl = cells[17];
              player.tov = cells[19];
              player.pts = cells[20];

              players.push(player);

            //  GS	MP	PER	OWS	DWS	OBPM	VORP	FG	FGA	3P	3PA	2P	2PA	FT	FTA	DRB	AST	STL	TOV	PTS
      // var eachvalue= lines[line].split(',')
      // console.log(eachvalue);
      // array["name"]=eachvalue[1];
      // array["GS"]=eachvalue[1];
      // array["PER"]=eachvalue[2];
      // array["DWS"]=eachvalue[3];
      // array["OBPM"]=eachvalue[4];
      // array["VORP"]=eachvalue[5];
      // array["FG"]=eachvalue[6];
      // array["3P"]=eachvalue[7];
      // array["3PA"]=eachvalue[8];
      // array["2P"]=eachvalue[9];
      // array["2PA"]=eachvalue[10];
      // array["FT"]=eachvalue[11];
      // array["FTA"]=eachvalue[12];
      // array["DRB"]=eachvalue[13];
      // array["AST"]=eachvalue[14];
      // array["STL"]=eachvalue[15];
      // array["TOV"]=eachvalue[16];
      // array["PTS"]=eachvalue[17];

    }
    console.log(JSON.stringify(players));
    $.ajax({
  			type: "POST",
  			contentType: "application/json",
  			url: "/results",
  			data: JSON.stringify(players), // convert array to JSON
  			success: function (data) {

  				console.log("SUCCESS : ", data);


  			},
  			error: function (e) {

  				console.log("ERROR : ", e);

  			}
  		});


  };
  reader.readAsText(file);
};




$(document).ready(function (e) {
    $('#imageUploadForm').on('submit',(function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            type:'POST',
            url: '/img_result',
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(data){
                console.log("success");
                console.log(data);
            },
            error: function(data){
                console.log("error");
                console.log(data);
            }
        });
    }));

    $("#ImageBrowse").on("change", function() {
        $("#imageUploadForm").submit();
    });
});





  <!-- others -->
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>
